.github/**
.vscode/**
node_modules/**
src/**
public/images/**
!public/images/likan.png

.czrc
.editorconfig
.eslintrc.js
.gitignore
.npmrc
.prettierrc.js
CHANGELOG.md
pnpm-lock.yaml
README.md
tsconfig.json
webpack.config.js
